.page-4-root {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, #03011d 95%),
    url("../../../images/p4-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.page-4-title-box {
  position: absolute;
  top: 8%;
  left: 5%;
}
.page-4-title {
  font-family: "Bangers", cursive;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 0;
  text-shadow: 4px 4px 2px rgba(235, 233, 233, 0.2);
}
.p4-el-root {
  overflow: hidden;
  border-radius: 5px;
}
.p4-el-root:hover .backface-layout {
  transform: translateY(0%);
}

.backface-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(to bottom, transparent, black 90%);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.p4-el-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
  position: relative;
}
.name-box {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p4-el-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.p4-el-role {
  margin-top: 0;
  font-family: "Open Sans";
  font-size: 0.75rem;
  color: white;
  text-align: center;
}
.p4-el-connect-button {
  padding: 3% 9%;
  outline: none;
  border: 1px solid#1cc5dc;
  background-color: transparent;
  color: #1cc5dc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  
}
.p4-el-connect-button:hover {
  background-color: #1cc5dc;
  color: white;
}
.executive-box{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 5%;
  display: flex;
  justify-content: flex-end;
  padding: 5%;

}

.exec-button{
  padding: 1% 3%;
  outline: none;
  border: 2px solid#1cc5dc;
  background-color: transparent;
  color: #1cc5dc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  font-family: 'Open Sans';
  font-size: 1.0rem;
  font-weight: 900;
}
.exec-button:hover{
  background-color: #1cc5dc;
  color: white;
}

@media screen and (max-width: 786px) {
  .page-4-root {
    height: fit-content;
    padding: 5% 0;
    background-image: url("../../../images/page4_bg-.jpg");
    background-position: center;
  }
  .page-4-title-box {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p4-el-root {
    width: fit-content;
    position: relative;
    top: 0;
    left: 0;
    margin: 5% auto;
  }
  .p4-el-img {
    width: 100%;
  }
  .backface-layout{
    width: 100%;
  }
  .executive-box{
    position: relative;
    justify-content: center;
  }
  .exec-button{
    padding: 3% 9%;
  }
}
